# Build directories
build/
bin/

# Object files
*.o

# Dependencies
*.d

# IDE specific files
.vscode/
.idea/

# Dataset files
data/*-idx3-ubyte
data/*-idx1-ubyte

# System specific files
.DS_Store
Thumbs.db
